# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
backend/.env

# Flutter / Dart (les fichiers propres à Flutter sont dans mobile/.gitignore)

# Éditeurs / système
.idea/
.vscode/
.DS_Store
Thumbs.db
